.wrapper {
    padding-top: 2.5%;
    color: #ffffff;
    background-color: #ffffff;
    min-height: 100vh;
    height: 100%;

    .headerText {
        font-weight: bold;
    }
    
    .recentList {
        list-style: none;
        text-align: left;
        display: inline-block;
        width: 40%;
    
        li {
            display: flex;           /* Makes the list item a flex container */
            align-items: center;     /* Vertically centers the elements */
            margin-top: 1%;
            width: 100%;             /* Take full width */
            gap: 15px;
        }
    
        img {
            margin-top: 10px;
            padding-right: 10px;
        }
    
        .track_name {
            flex-grow: 1;
        }
    
        span {
            display: inline-block;
        }
    
    
    }

}


