html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #282c34; /* Ensures the background color is consistent */
}

.wrapper {
    padding-top: 2.5%;
    color: #ffffff;
    background-color: #282c34;
    min-height: 100vh;
    height: 100%;

    .headerText {
        font-weight: bold;
    }
    
    .topArtists {
        list-style: none;
        text-align: left;
        display: inline-block;
        width: 40%;
    
        li {
            display: flex; /* Makes the list item a flex container */
            align-items: center; /* Vertically centers the elements */
            margin-top: 1%;
            width: 100%; /* Ensures the list item takes the full width */
            gap: 15px; /* Adds spacing between the image and text */
        }
    
        img {
            width: 170px;
            height: 160px;
            object-fit: cover;
            margin-top: 10px;
            padding-right: 10px;

        }

        .artist_name {
            margin-left: auto; /* Pushes the artist name to the far right */
        }
    
        span {
            margin-left: auto;
        }
    
    
    }

}


