html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #282c34; /* Ensures the background color is consistent */
}

.wrapper {
    padding-top: 2.5%;
    color: #ffffff;
    background-color: #282c34;
    min-height: 100vh;
    height: 100%;

    .buttonContainer {
        display: flex;
        gap: 10px; /* Adds space between buttons */
        justify-content: center; /* Centers buttons horizontally */
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%; /* Ensures buttons are centered relative to the parent */

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #3c424e;
            color: #ffffff;
            cursor: pointer;

            &:hover {
                background-color: #21a1f1;
            }
        }
    }

    .headerText {
        font-weight: bold;
    }
    
    .top_tracks {
        list-style: none;
        text-align: left;
        display: inline-block;
        width: 60%;
    
        li {
            display: flex;           /* Makes the list item a flex container */
            align-items: center;     /* Vertically centers the elements */
            margin-top: 1%;
            width: 100%;             /* Take full width */
            gap: 15px;
        }
    
        img {
            margin-top: 10px;
            padding-right: 10px;
        }
    
        .track_name {
            flex-grow: 1;
        }
    
        span {
            display: inline-block;
        }
    
    
    }

}


